FILE_SERVICE_BASE_URL=http://localhost:3000/api
FILE_SERVICE_BEARER_TOKEN=
FILE_SERVICE_RETENTION_CATEGORY=tmp
NEXT_EXAMPLE_PORT=3000
NEXT_EXAMPLE_IMAGE=shnea-blocknote-next-example:local
NEXT_EXAMPLE_PLATFORM=linux/amd64
